<!DOCTYPE html>
<html class="gr__getpapercss_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="AI based Resume screening">
<meta name="author" content="EVRY">


<link rel="shortcut icon" href="" type="image/x-icon">
 <title>EVRY-Resume Ranking</title>
  
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<style>

body {
    background-image: url("./static/geometry.png");
	background-position: top;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 50px auto 30px;
  max-width: 48%;
  padding: 50px 70px 70px 71px;
}

</style>

<script>

$("#formid").submit(function(e) {

	$("#formdiv").hide();
	$("#resultdiv").show();
	resetResult();

	console.log("submit");
   	console.log($("#formid").serialize());



    e.preventDefault(); 
});



$("resetResult").click(function(){
	$("#formdiv").show();
	$("#resultdiv").hide();
});

$( document ).ready(function() {
	$("#resultdiv").hide();
});

function resetResult(){
	$("#result").innerHTML = "Processing....";
}

</script>
</head>

<body data-gr-c-s-loaded="true">
<img height="50px" src="{{ url_for('static', filename='Evry_logo.png') }}"/>
 <div class="container">
 <div class="main-div">
<div id="top" class="row site">
    <div class="sm-12 md-8 col">
      <div>

	  <div class="demo-title">
          <div class="row flex-center">
            <div class="text-center">
              <h4>Resume scruitny system</h4>
            </div>
          </div>        </div>
		  
      
	<div id="formdiv">
          
    <!-- <form action = "/resultscreen" method = "POST">
      <p>Enter a Job Description File name <input type = "text" name = "Name" /></p>
      <p><input type = "submit" value = "submit" /></p>
   </form> -->

   <br>
   <div class="container">
   <form action = "/results" method = "POST" style="text-align:center"> 
    <div class="form-group">
    {% if not session.logged_in %}
     <a  class="btn btn-primary" href="{{ url_for('login') }}">log in</a>
     {% else %}
	   <a class="btn btn-primary" style="float: left;" href="{{ url_for('uploadResume') }}">Upload-CVs</a>
	   <a class="btn btn-primary" href="{{ url_for('uploadjdDesc') }}">Upload-JD</a>
       <a class="btn btn-primary" style="float: right" href="{{ url_for('logout') }}">Logout</a>
       
        
   </div><br><br>
   <!--
    <div class="form-group">
   <p>Enter JD Text</p>
   </div>
   
    <div class="form-group">
	 <textarea maxlength="2000" minlength="150" required style="width: 400px;height: 150px;" name="des"></textarea>
	</div>
	-->
	<div class="form-group">
	<input class="btn btn-primary"  style="float: right" type=submit value="Calculate Rank">
	<!--input class="btn btn-primary"  type=reset value=Reset-->
	</div>
	{% endif %}
	  </form>
</div>


</div>

        </div>   
      </div>
    </div>

</div>
	</div>
</div>
 
</body></html>
