<html lang="en">
<head>

<meta charset="UTF-8">
<title>Evry - Resume Rankgin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
<script src="{{ url_for('static', filename='js/custome.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custome1.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script>
function moveBack(){
window.location.href="/";
}
</script>
<style>
body {
    background-image: url("./static/geometry.png");
	background-position: top;
}
.container {
    max-width: 550px !important;
	}
</style>
</head>

<body translate="no">
<img height="50px" src="{{ url_for('static', filename='Evry_logo.png') }}"/>
	
	<div class="container">
	
	<div class="form-group">
	<h5>Resume scruitny system</h5>
	</div>
	<div class="form-group" style="float:right;">
				<button type="button" onclick="moveBack();" class="btn btn-primary">Back</button>

		</div>
	<div class="form-group">
	<table class="table-hover">
	<thead>
			  <tr style="text-align: left;">
    			  <th>S.No.</th>
    			  <th>Resume</th>	  
			  </tr>
			</thead>
			{% for r in name :%}
				<tbody>
				
			  		<tr style="text-align: left;">
						<td style="width: 70px;">{{ loop.index0 }}</td>
						<td style="width: 70px;"><a href="{{url_for('custom_static', filename=r)}}">{{r}}</a><br></td>
				
			  		</tr>
				</tbody>
			{% endfor %}
		</table>				
		</div>
	</div>

</body>
</html>